<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SubscriptionId" value ="" />
    <add key="Region" value ="" />
    <add key="ResourceGroup" value ="" />
    <add key="AccountName" value ="" />
    <add key="AadTenantId" value ="" />
    <add key="AadClientId" value ="" />
    <add key="AadSecret" value ="" />
    <add key="ArmAadAudience" value ="" />
    <add key="AadEndpoint" value ="" />
    <add key="ArmEndpoint" value ="" />
  </appSettings>
</configuration>